
<h1>Listing Journeys</h1>

<table class="table">
  <thead>
    <tr>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @journeys.each do |journey| %>
    <tr>
      <td><%= journey.negotiator.username %></td>
      <td>on</td>
      <td><%= link_to journey.visits.first.arrival, journey %></td>
    </tr>
    <% end %>
  </tbody>
</table>
